# Tests
.pytest_cache/
test-results/
.coverage

# Project data and cache
**/__pycache__
.data/
logs/

# Deployment
deployment/

# Docker config
Dockerfile.j2
docker-compose.yml
.dockerignore

# Project config and metadata
.circleci/
.git/
.gitignore
.pre-commit-config.yaml
make
README.md
LICENSE

# PID files
supervisord.pid
uvicorn.pid
uvicorn.sock
