## System dependencies and utilities
clinner
health_check

## Apistar
apistar[asyncio]
apistar-crud

## ORM
sqlalchemy
psycopg2
alembic
apistar_alembic_migrations

## Static files
whitenoise
aiofiles
